<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form [formGroup]="loginForm">
    <h3>Sign Up</h3>

    <label for="username">Email:</label>
    <input type="text" placeholder="Email" formControlName="email">

    <label for="password">Password:</label>
    <input formControlName="password" type="password" placeholder="Password" id="password">

    <button (click)="singUp()" type="submit">Sign Up</button>

    <button (click)="authService.GoogleAuth()">
        Sign Up with Google
    </button>

    <div>
        <span (click)="goTologin()">Already have an account?
            <span class="redirect" >Log In</span></span>
    </div>

</form>