<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form [formGroup]="loginForm">
  <h3>Login</h3>

  <label for="username">Email:</label>
  <input type="text" placeholder="Email" formControlName="email">

  <label for="password">Password:</label>
  <input formControlName="password" type="password" placeholder="Password" id="password">

  <button (click)="singIn()" type="submit">Log In</button>

  <button (click)="authService.GoogleAuth()">
    Log in with Google
  </button>
  <div>
    <span (click)="goToRegister()">Sign Up</span>
  </div>
  <div>
    <span (click)="goToPassword()">Forgot Password?</span>
  </div>

</form>